:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--body-bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

body,a,p, button{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
/*
.container{
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
*/


.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.75rem;
  height: 18.25rem;
  border-radius: 1rem;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
  background: var(--bg-cards);
}

.profile img{
  border-radius: 12.5rem;
  width: 8rem;
  height: 8rem;
  margin-top: 2rem;
  border: solid 2px greenyellow;
}

.profile strong{
  margin-top: 2rem;
  font-size: 1.45rem;
  font-weight: bold;
}
.profile p{
  margin-top: 1rem;
  font-size: 0.75rem;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.75rem;
  height: 21.75rem;
  border-radius: 1rem;
  color: var(--text-color);
  justify-content: center;

  margin-top: 1rem;
  background: var(--bg-cards);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
}

.links li{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.links ul li{
  list-style-type: none;
  margin: 1rem;
}
.links a{
  text-decoration: none;
  color: var(--text-color);
}



.tecnologies{
  display: flex;
  flex-wrap: wrap;
  width: 21.75rem;
  height: 13rem;
  border-radius: 1rem;
  color: var(--text-color);
  padding: 1rem 1rem;
  margin-top: 1rem;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
  background: var(--bg-cards);
  justify-content: space-around;
  
}
.tecnologies strong{
  width: 100%;
}
.tecnologies p {
  width: 5.375rem;
  height: 1.5rem;
  background: var(--bg-techs);
  color: black;
  
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.625rem;
  padding-top: 0.3125rem;
}

.titleOfProjects{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56.25rem;
  height: 5.375rem;
  padding: 1.875rem 1.875rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
  background: var(--bg-cards);
 
}
.titleOfProjects a{
  text-decoration: none;
  color: var(--text-color)
}
/*
.containerProjects{
  display: flex;
  gap: 1.875rem;
}
*/

.containerProjects{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 1rem;
  align-items:flex-start;
}
.projectPreview{
  margin-top: 2rem;
  width: 100%;
  height: 11.5625rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
  background: var(--bg-cards);
  padding: 2rem 2rem;
}

.projectPreview  button{
  background: transparent;
  border: 0;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  
  
}

.projectPreview footer{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.projectPreview footer p{
 display: flex;
 align-items: center;
 gap: 0.4rem;
 
}


.projectPreview footer a{
  color: var(--text-color);
  text-decoration: none;
}

.containerProjects strong{
  width: 100%;
  font-weight: bold;
}



.containerProjects p{
  padding: 1rem 0;
  font-size: 0.875rem;

}
.recentPosts{
  margin-top: 2rem;
  width: 56.25rem;
  height: 5.375rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
  background: var(--bg-cards);
  display: flex;
  align-items: center;
  padding: 1.875rem 1.875rem;
}

.cardRecentPost{
  margin-top: 2rem;
 
  
  padding: 1.875rem 1.875rem;
  border-radius: 1rem;
  background: var(--bg-cards);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
 
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-content: flex-start;
}

.cardRecentPost img{
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
}

.containerRecentPost{
  margin-left:1.25rem ;
  line-height: 1.4375rem;
}

.containerRecentPost strong{
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
}

.containerRecentPost span{
  font-size: 0.875rem;
}

.containerRecentPost p{
  margin-top: 1.75rem;
}

.containerRecentPost footer{
  margin-top: 0.6875rem;
  display: flex;
  gap: 1rem;
}

.experiencia{ 
    width: 21.75rem;
    height: 21.75rem;
    border-radius: 1rem;
    color: var(--text-color);
    padding: 1.25rem 1.875rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-cards);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.325);
}

.experiencia ul{
  display: flex;
  flex-direction: column;
  margin: 1.25rem 1.5625rem; 
  width: 10.9375rem;
  gap:1rem;
}


.experiencia strong{
  display: block;
  font-size:0.75rem ;
  font-weight: bold;
}
.experiencia ul li{
  font-size:0.75rem ;

}

footer{
  display: flex;
  justify-content: center;
}


.container{
  max-width: 80rem;
  margin: 1rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns:350px 1fr;
  gap: 1rem;
  align-items:flex-start;
}


@media(max-width: 768px){
  .container{
    grid-template-columns: 1fr; 
  }

  .titleOfProjects{
    max-width: 350px;
  }

  .containerProjects{
    display: grid;
    max-width: 350px;
    grid-template-columns: 1fr;
  }

  .recentPosts{
    max-width: 350px;
    
  }
  
  .cardRecentPost{
    max-width: 350px;
    grid-template-columns: 1fr;
  }
  
  .containerRecentPost{
    max-width: 350px;
    grid-template-columns: 1fr;
  }
 
  .containerRecentPost footer{
    display: grid;
    max-width: 350px;
  
  }
}